.signInControl {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.backgroundCover {
    background: url('/assets/images/frontpage.jpg') center/cover no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    font-size: 72px;
    color: #ffffff;
    text-align: center;
}