.parentContainer {
    height: 100vh;
    background-image: linear-gradient(135deg, rgb(182, 170, 170), rgb(43, 43, 17));
    padding:20px;
}

.rowPadding {
    padding:10px;
}

.healthParent {
    position: absolute;
    top: auto;
    right: 1vw;
}

.closeButton {
    position: absolute;
    right: 1vw;
    bottom: 1vw;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 5px;
}

.saveButton {
    position: absolute;
    left: 1vw;
    bottom: 1vw;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 5px;
}