.userProfileButton {
    margin: 20px;
}

.parentContainer {
    height: 100vh;
    background-image: url("/assets/images/stonewall.jpg");
    background-size: 100% calc(100%);
    background-repeat: repeat-y;
    background-repeat: repeat-x;
}

.spinnerWhite {
    color:white;
}
